@font-face {
    font-family: 'lobster';
    src: url('../fonts/lobster-1.4.otf');
}
@font-face {
    font-family: 'open-sans-regular';
    src: url('../fonts/open-sans.regular.ttf');
}
@font-face {
    font-family: 'open-sans-light';
    src: url('../fonts/open-sans.light.ttf');
}


#loading_icon{
    position: fixed;
    z-index: 10000;
    Left: calc(50% - 75px);
    top: calc(50% - 75px);
    width: 150px;
    height: 150px;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, .5);*/
    display: none;
}
#loading_icon>img{
    width: inherit;
    height: inherit
}
#loading-back{
    position: fixed;
    z-index: 9999;
    top:0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,0.2);
}

.input-invalid{
    border: solid 1.2px red;
}

.element-validation{
    display: none;
}

.input-error{
    color: red;
    font-weight: 600;
    display: block!important;
}

.loading-button::before{
    content: "";
    position: relative;
    display: inline-block;
    background-image: url("../images/loading-button.gif");
    background-position: center center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top:3px;
    background-repeat: no-repeat;
}
.loading-button.disabled, .loading-button:disabled{
    border-color: unset ;

    opacity: .7;
}
.loading-button:focus{
    box-shadow: unset;
}

.loading-button>.fa,.loading-button>.fas,.loading-button>.far,.loading-button>.fal,.loading-button>.fab,.loading-button>.fad,.loading-button>.glyphicon{
    display: none;
}

.btn{
    font-family: open-sans-light;
}
.alertify{
    z-index: 10000000;
    width: 300px;
    position: fixed;
    left: -500px;
    /*top: -500px;*/
    border-radius: 3px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .7);
    font-size: 16px;
    color: white;
}

.alertify
{
   /* opacity: 0;*/
    -webkit-transition: left 1.2s ;
    -moz-transition: left 1.2s;
    -o-transition: left 1.2s;
    transition: left 1.2s;
}

.alertify>.alert-content{
    padding: 10px 15px;
    margin: auto;
    text-align: center;
}